:root {
  --color-body: #eff7fa;
  --color-header-container-text: #f8c715;
  --color-flex-container: #fff;
  --color-flex-container-text: #32d1cc;
  --color-footer: #fff;
}

body, h1, p { 
  margin: 0;
}

body {
  background-color: var(--color-body);
  font-family: 'Roboto', sans-serif;
}

.header-container {
  text-align: center;
  margin-top: 110px;
}

.header-container-title {
  color: var(--color-header-container-text);
}

.header-container-text {
  margin-top: 30px;
  opacity: 0.5;
}

.main {
  display: flex;
  flex-flow: wrap;
  margin-left: 100px;
}

.flex-container {
  width: 270px;
  height: 400px;
  background-color: var(--color-flex-container);
  margin: 5px 10px 10px 10px;
  border: solid 1px white;
  text-align: center;
  margin-top: 60px;
  flex-direction: column;
}

.flex-container-text {
  width: 270px;
  height: 50px;
  border: solid 1px white;
  color: white;
  background-color: var(--color-flex-container-text);
  margin-top: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-text {
  margin-top: 35px;
  opacity: 0.5;
}

.footer {
  background-color: var(--color-footer);
  height: 180px;
  width: 2000px;
  margin-top: 60px;
}

.image-footer {
  text-align: center;
  margin-top: 60px;
  padding-left: 135px;
}

@media screen and (min-width 768px) {
  .flex-container {
    flex-direction: row;
  }
}